.flex-h-wrapper {
  display: flex;
}

.flex-h-wrapper.align-top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-h-wrapper.custom1 {
  margin-bottom: 22px;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-h-wrapper.margin-bottom-0 {
  margin-bottom: 22px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 1440px) {
  .flex-h-wrapper.margin-bottom-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .flex-h-wrapper.margin-bottom-0 {
    margin-bottom: 2em;
  }
}

.flex-h-wrapper.custom2 {
  margin-bottom: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .flex-h-wrapper.custom2 {
    margin-bottom: 20px;
  }
}

.flex-h-wrapper.custom3 {
  margin-bottom: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 1280px) {
  .flex-h-wrapper.custom3 {
    max-width: 50.4375em;
  }
}

.flex-h-wrapper.margin-bottom-0 {
  margin-bottom: 0px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 1280px) {
  .flex-h-wrapper.margin-bottom-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .flex-h-wrapper.margin-bottom-0 {
    margin-bottom: 0em;
  }
}

@media screen and (min-width: 1440px) {
  .flex-h-wrapper.align-center {
    justify-content: flex-start;
    align-items: center;
  }
}

.flex-h-wrapper.align-center.margin-bottom-32 {
  margin-bottom: 2rem;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .flex-h-wrapper.align-center.margin-bottom-32 {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .flex-h-wrapper.align-top {
    justify-content: flex-start;
    align-items: center;
  }
}

.flex-h-wrapper.align-top.margin-bottom-32 {
  margin-bottom: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 1440px) {
  .flex-h-wrapper.align-top.margin-bottom-32 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .flex-h-wrapper.align-top.margin-bottom-32 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.flex-h-wrapper.align-left-center {
  justify-content: flex-start;
  align-items: center;
}

.agen-green-dot-wrapper {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  background-color: var(--green);
}

@media screen and (max-width: 767px) {
  .agen-green-dot-wrapper {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.agen-green-dot-wrapper.custom-circle-1 {
  width: 0.9rem;
  height: 0.9rem;
}

.agen-green-dot-wrapper.dark-green {
  background-color: #55a712;
}

.header-42 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Raleway;
  font-size: 2.625rem;
  line-height: 58px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .header-42 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header-42 {
    font-size: 25px;
    line-height: 33px;
  }
}

.header-42.margin-bottom-22 {
  margin-bottom: 1.375rem;
}

.header-42.margin-bottom-22.underlined {
  text-decoration: underline;
}

.underlined {
  text-decoration: underline;
}

.header-42.margin-bottom-31 {
  margin-bottom: 1.9375rem;
}

@media screen and (max-width: 991px) {
  .header-42.margin-bottom-31 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.margin-bottom-31 {
    text-align: center;
  }
}

.header-42.margin-bottom-31.text-color-red {
  margin-right: 0rem;
  font-family: Lato, sans-serif;
  color: #cf3131;
  font-size: 2rem;
}

@media screen and (max-width: 991px) {
  .header-42.margin-bottom-31.text-color-red {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.margin-bottom-31.text-color-red {
    font-size: 1.75rem;
  }
}

.text-color-red {
  margin-right: 0.5rem;
  color: hsla(0, 62.48%, 50.25%, 1.00);
}

.header-42.margin-bottom-23 {
  margin-bottom: 1.4375rem;
}

@media screen and (max-width: 767px) {
  .header-42.margin-bottom-23 {
    margin-bottom: 1.25rem;
    font-size: 1.625rem;
  }
}

.header-42.custom1 {
  margin-bottom: 1.375rem;
}

@media screen and (max-width: 767px) {
  .header-42.custom1 {
    text-align: center;
  }
}

.header-42.custom1.underlined {
  text-decoration: underline;
}

.header-42.custom1 {
  margin-bottom: 1.9375rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.custom1 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1 {
    text-align: center;
  }
}

.header-42.custom1.margin-mobile-bottom-16 {
  margin-bottom: 1rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom1.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1.margin-mobile-bottom-16 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125rem;
  }
}

.header-42.custom1.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom1.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1.margin-mobile-top-16 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1.margin-mobile-top-16 {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}

.header-42.custom1.margin-mobile-top-16.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom1.margin-mobile-top-16.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1.margin-mobile-top-16.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1.margin-mobile-top-16.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom1.margin-mobile-bottom-32 {
  margin-bottom: 2rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom1.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1.margin-mobile-bottom-32 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5rem;
  }
}

.header-42.custom1.margin-mobile-bottom-8 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .header-42.custom1.margin-mobile-bottom-8 {
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1.margin-mobile-bottom-8 {
    margin-bottom: 0.5rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125rem;
  }
}

.header-42.custom1.underline-text {
  margin-bottom: 1rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .header-42.custom1.underline-text {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1.underline-text {
    font-size: 1.65rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1.underline-text {
    line-height: 1.2;
  }
}

.header-42.custom1.underline-text.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom1.underline-text.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1.underline-text.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1.underline-text.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom1.margin-bottom-0 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom1.margin-bottom-0 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1.margin-bottom-0 {
    line-height: 1.2;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1.margin-bottom-0 {
    font-size: 2rem;
  }
}

.header-42.custom2 {
  margin-bottom: 1.375rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-42.custom2 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.header-42.custom2.underlined {
  text-decoration: underline;
}

.header-42.custom2 {
  margin-bottom: 1.9375rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.custom2 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom2 {
    text-align: center;
  }
}

.header-42.custom2.margin-mobile-bottom-16 {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom2.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom2.margin-mobile-bottom-16 {
    font-size: 1.5rem;
  }
}

.header-42.custom2.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom2.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom2.margin-mobile-top-16 {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom2.margin-mobile-top-16 {
    margin-top: 0rem;
    font-size: 0.875rem;
  }
}

.header-42.custom2.margin-mobile-top-16.text-color-red {
  color: #cf3131;
}

.header-42.custom3 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.custom3 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom3 {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom3 {
    font-size: 0.875rem;
    text-align: center;
  }
}

.header-42.custom3.margin-mobile-bottom-16 {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom3.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom3.margin-mobile-bottom-16 {
    font-size: 1.5rem;
  }
}

.header-42.custom3.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-size: 2rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom3.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom3.margin-mobile-top-16 {
    font-size: 1.75rem;
  }
}

.header-42.custom3.margin-mobile-top-16.text-color-red {
  color: #cf3131;
}

.header-42.custom-small {
  margin-bottom: 1.9375rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.custom-small {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small {
    text-align: center;
  }
}

.header-42.custom-small.margin-mobile-bottom-16 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom-small.margin-mobile-bottom-16 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-small.margin-mobile-bottom-16 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small.margin-mobile-bottom-16 {
    margin-bottom: 0rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.header-42.custom-small.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom-small.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-small.margin-mobile-top-16 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small.margin-mobile-top-16 {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}

.header-42.custom-small.margin-mobile-top-16.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom-small.margin-mobile-top-16.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-small.margin-mobile-top-16.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small.margin-mobile-top-16.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom-small.margin-mobile-bottom-32 {
  margin-bottom: 2rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom-small.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-small.margin-mobile-bottom-32 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5rem;
  }
}

.header-42.custom-small.margin-mobile-bottom-8 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .header-42.custom-small.margin-mobile-bottom-8 {
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small.margin-mobile-bottom-8 {
    margin-bottom: 0.5rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25rem;
  }
}

.header-42.custom-small.underline-text {
  margin-bottom: 1rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .header-42.custom-small.underline-text {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-small.underline-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small.underline-text {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}

.header-42.custom-small.underline-text.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom-small.underline-text.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-small.underline-text.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small.underline-text.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom-small.mobile-margin-0 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom-small.mobile-margin-0 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-small.mobile-margin-0 {
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-small.mobile-margin-0 {
    margin-bottom: 0rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.header-42.custom-xsmall {
  margin-bottom: 1.9375rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.custom-xsmall {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-xsmall {
    text-align: center;
  }
}

.header-42.custom-xsmall.margin-mobile-bottom-16 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .header-42.custom-xsmall.margin-mobile-bottom-16 {
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-xsmall.margin-mobile-bottom-16 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1rem;
  }
}

.header-42.custom-xsmall.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom-xsmall.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-xsmall.margin-mobile-top-16 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-xsmall.margin-mobile-top-16 {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}

.header-42.custom-xsmall.margin-mobile-top-16.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom-xsmall.margin-mobile-top-16.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-xsmall.margin-mobile-top-16.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-xsmall.margin-mobile-top-16.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom-xsmall.margin-mobile-bottom-32 {
  margin-bottom: 2rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom-xsmall.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-xsmall.margin-mobile-bottom-32 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-xsmall.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5rem;
  }
}

.header-42.custom-xsmall.margin-mobile-bottom-8 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .header-42.custom-xsmall.margin-mobile-bottom-8 {
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-xsmall.margin-mobile-bottom-8 {
    margin-bottom: 0.5rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25rem;
  }
}

.header-42.custom-xsmall.underline-text {
  margin-bottom: 1rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .header-42.custom-xsmall.underline-text {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-xsmall.underline-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-xsmall.underline-text {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}

.header-42.custom-xsmall.underline-text.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom-xsmall.underline-text.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-xsmall.underline-text.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-xsmall.underline-text.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom1-medium {
  margin-bottom: 1.9375rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium {
    text-align: center;
  }
}

.header-42.custom1-medium.margin-mobile-bottom-16 {
  margin-bottom: 1rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.margin-mobile-bottom-16 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125rem;
  }
}

.header-42.custom1-medium.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.margin-mobile-top-16 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.margin-mobile-top-16 {
    line-height: 1.2;
  }
}

.header-42.custom1-medium.margin-mobile-top-16.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.margin-mobile-top-16.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.margin-mobile-top-16.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.margin-mobile-top-16.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom1-medium.margin-mobile-bottom-32 {
  margin-bottom: 2rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.margin-mobile-bottom-32 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5rem;
  }
}

.header-42.custom1-medium.margin-mobile-bottom-8 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.margin-mobile-bottom-8 {
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.margin-mobile-bottom-8 {
    margin-bottom: 0.5rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25rem;
  }
}

.header-42.custom1-medium.underline-text {
  margin-bottom: 1rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.underline-text {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.underline-text {
    font-size: 1.85rem;
    line-height: 1.2;
  }
}

.header-42.custom1-medium.underline-text.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.underline-text.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.underline-text.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.underline-text.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom1-medium.margin-bottom-0 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.margin-bottom-0 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.margin-bottom-0 {
    line-height: 1.2;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.margin-bottom-0 {
    font-size: 2.25rem;
  }
}

.header-42.custom1-medium.margin-bottom-8 {
  margin-bottom: 0.5rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.margin-bottom-8 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.margin-bottom-8 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.margin-bottom-8 {
    line-height: 1.2;
  }
}

.header-42.custom1-medium.margin-bottom-8.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom1-medium.margin-bottom-8.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom1-medium.margin-bottom-8.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom1-medium.margin-bottom-8.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.text-custom-1 {
  margin-bottom: 0rem;

  font-family: Lato, sans-serif;
  color: red;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.text-custom-1 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.text-custom-1 {
    max-width: 25rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.text-custom-1 {
    max-width: 20rem;
    font-size: 1rem;
    text-align: center;
  }
}

.header-42.text-custom-1.margin-mobile-bottom-16 {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.text-custom-1.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.text-custom-1.margin-mobile-bottom-16 {
    font-size: 1.5rem;
  }
}

.header-42.text-custom-1.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-size: 2rem;
}

@media screen and (max-width: 991px) {
  .header-42.text-custom-1.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.text-custom-1.margin-mobile-top-16 {
    font-size: 1.75rem;
  }
}

.header-42.text-custom-1.margin-mobile-top-16.text-color-red {
  color: #cf3131;
}

.header-42.text-custom-2 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.text-custom-2 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.text-custom-2 {
    font-size: 0.875rem;
    text-align: center;
  }
}

.header-42.text-custom-2.margin-mobile-bottom-16 {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.text-custom-2.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.text-custom-2.margin-mobile-bottom-16 {
    font-size: 1.5rem;
  }
}

.header-42.text-custom-2.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-size: 2rem;
}

@media screen and (max-width: 991px) {
  .header-42.text-custom-2.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.text-custom-2.margin-mobile-top-16 {
    font-size: 1.75rem;
  }
}

.header-42.text-custom-2.margin-mobile-top-16.text-color-red {
  color: #cf3131;
}

.header-42.custom-4 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.custom-4 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-4 {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-4 {
    font-size: 0.875rem;
    text-align: center;
  }
}

.header-42.custom-4.margin-mobile-bottom-16 {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom-4.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-4.margin-mobile-bottom-16 {
    font-size: 1.5rem;
  }
}

.header-42.custom-4.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-size: 2rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom-4.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-4.margin-mobile-top-16 {
    font-size: 1.75rem;
  }
}

.header-42.custom-4.margin-mobile-top-16.text-color-red {
  color: #cf3131;
}

.header-42.custom-2 {
  margin-bottom: 1.9375rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2 {
    text-align: center;
  }
}

.header-42.custom-2.margin-mobile-bottom-16 {
  margin-bottom: 1rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-2.margin-mobile-bottom-16 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2.margin-mobile-bottom-16 {
    margin-bottom: 2rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125rem;
  }
}

.header-42.custom-2.margin-mobile-top-16 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2.margin-mobile-top-16 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-2.margin-mobile-top-16 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2.margin-mobile-top-16 {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}

.header-42.custom-2.margin-mobile-top-16.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2.margin-mobile-top-16.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-2.margin-mobile-top-16.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2.margin-mobile-top-16.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom-2.margin-mobile-bottom-32 {
  margin-bottom: 2rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-2.margin-mobile-bottom-32 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2.margin-mobile-bottom-32 {
    margin-bottom: 2rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5rem;
  }
}

.header-42.custom-2.margin-mobile-bottom-8 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2.margin-mobile-bottom-8 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-2.margin-mobile-bottom-8 {
    font-size: 1.5rem;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2.margin-mobile-bottom-8 {
    margin-bottom: 0.5rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125rem;
  }
}

.header-42.custom-2.underline-text {
  margin-bottom: 1rem;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2.underline-text {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-2.underline-text {
    font-size: 1.65rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2.underline-text {
    line-height: 1.2;
  }
}

.header-42.custom-2.underline-text.text-color-red {
  margin-top: -1rem;
  margin-right: 0rem;
  color: #cf3131;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2.underline-text.text-color-red {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-2.underline-text.text-color-red {
    margin-top: 0rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2.underline-text.text-color-red {
    font-size: 0.875rem;
  }
}

.header-42.custom-2.margin-bottom-0 {
  margin-bottom: 0rem;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .header-42.custom-2.margin-bottom-0 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .header-42.custom-2.margin-bottom-0 {
    line-height: 1.2;
  }
}

@media screen and (max-width: 479px) {
  .header-42.custom-2.margin-bottom-0 {
    font-size: 2rem;
  }
}