.section-home-footer {
  position: relative;
}

.padding-global {
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.custom1 {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

.padding-global.is-relative {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .padding-global.is-relative {
    z-index: 0;
  }
}

@media screen and (max-width: 767px) {
  .padding-global.is-relative {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.padding-global.custom2 {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .padding-global.custom2 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-image: linear-gradient(180deg, hsla(79.67213114754098, 48.03%, 24.90%, 0.05) 16%, hsla(79.45945945945948, 62.71%, 88.43%, 0.05) 66%);
  }
}

@media screen and (max-width: 767px) {
  .padding-global.custom-3 {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

.padding-global.custom-3 {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .padding-global.custom-3 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-image: none;
  }
}

.container-1140 {
  width: 100%;
  max-width: 82rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container-1140 {
    max-width: none;
  }
}

.padding-section-80 {
  padding: 80px 0px;
}

@media screen and (max-width: 767px) {
  .padding-section-80.custom-padding-mobile {
    padding-top: 84px;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-80.custom-padding-mobile {
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-80.custom-padding-1 {
    padding-top: 2.375rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-80.custom-padding-1 {
    padding-bottom: 3rem;
  }
}

.padding-section-80.custom-padding-custom-2 {
  margin-bottom: 35px;
}

@media screen and (max-width: 991px) {
  .padding-section-80.custom-padding-custom-2 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-80.custom-padding-custom-2 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-80.custom-padding-mobile-1 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-80.custom-padding-mobile-1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-section-80.padding-bottom-0 {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .padding-section-80.padding-bottom-0 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-80.padding-bottom-0 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-80.custom-padding-mobile-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-80.custom-padding-mobile-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.padding-section-80.custom-padding-mobile-3 {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .padding-section-80.custom-padding-mobile-3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-section-80.custom-padding-mobile-3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.footer-wrapper-two {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .footer-wrapper-two {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer-brand {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .footer-brand {
    margin-bottom: 2rem;
  }
}

.footer-contents-wrapper {
  display: flex;
}

.footer-block-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 479px) {
  .footer-block-two {
    margin-top: 0px;
  }
}

.footer-block-two.margin-right-117 {
  max-width: 8rem;
  margin-right: 7.3125rem;
}

@media screen and (max-width: 991px) {
  .footer-block-two.margin-right-117 {
    margin-right: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .footer-block-two.margin-right-117 {
    margin-top: 0px;
    margin-right: 4rem;
  }
}

.footer-title {
  font-family: Poppins;
  color: var(--54790a);
  font-size: 1rem;
  line-height: 32px;
  font-weight: 500;
}

.footer-link-two {
  margin-top: 40px;
  font-family: Poppins;
  color: #1a1b1f;
  font-size: 0.875rem;
  text-decoration: underline;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, 0.75);
}

@media screen and (max-width: 767px) {
  .footer-link-two {
    margin-top: 36px;
  }
}

.footer-bottom {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;

  background-color: #54790a;
}

@media screen and (max-width: 767px) {
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .footer-bottom {
    flex-direction: column;
  }
}

.footer-copyright {
  font-family: Poppins;
  color: var(--white);
  font-size: 0.83125rem;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    font-size: 0.83125rem;
    line-height: 20px;
  }
}