.nav-v2 {
  display: flex;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  justify-content: center;
  align-items: flex-start;

  background-color: #fafafa;

  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .nav-v2 {
    padding-right: 0;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
}

@media screen and (max-width: 767px) {
  .nav-v2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    background-color: hsla(0, 0.00%, 98.04%, 1.00);
  }
}

@media screen and (max-width: 479px) {
  .nav-v2 {
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
}

.nav-v2.custom1 {
  z-index: 0;
  background-color: transparent;
}

.nav-v2.custom1.is-fixed {
  position: fixed;
  z-index: 9999999;
  padding-bottom: 0px;
  background-color: var(--white);
}

.nav-v2.custom2 {
  z-index: 999;
  border-bottom: 1px solid #ebe8e8;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .nav-v2.custom2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 479px) {
  .nav-v2.custom2 {
    padding-bottom: 0px;
  }
}

.nav-v2.nav-white {
  z-index: 0;
  background-color: var(--white);
}

@media screen and (max-width: 767px) {
  .nav-v2.nav-white {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .menu-button:global(.w--open) {
    background-color: hsla(111.08108108108108, 100.00%, 29.02%, 1.00);
  }
}

@media screen and (max-width: 767px) {
  .menu-button:global(.w--open) {
    background-color: #159400;
  }
}

@media screen and (max-width: 479px) {
  .menu-button {
    display: block;
    background-color: hsla(0, 0.00%, 98.04%, 1.00);
  }
}

@media screen and (max-width: 479px) {
  .menu-button:global(.w--open) {
    width: 100%;
    flex: 1;
    background-color: #159400;
  }
}

@media screen and (max-width: 991px) {
  .menu-button.nav-menu {
    background-color: var(--green);
  }
}

@media screen and (max-width: 991px) {
  .menu-button.nav-menu:global(.w--open) {
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button.nav-menu:global(.w--open) {
    padding-left: 18px;
  }
}

@media screen and (max-width: 479px) {
  .menu-button.nav-menu:global(.w--open) {
    max-width: 4em;
  }
}

@media screen and (max-width: 991px) {
  .menu-button.white:global(.w--open) {
    background-color: hsla(111.08108108108108, 100.00%, 29.02%, 0.00);
  }
}

@media screen and (max-width: 767px) {
  .menu-button.white {
    margin-right: 24px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .icon {
    font-size: 32px;
  }
}

@media screen and (max-width: 479px) {
  .icon {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .icon.hide {
    display: none;
  }
}

.hide {
  display: none;
}

.nav-arrow {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-arrow {
    display: none;
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 991px) {
  .nav-arrow.show {
    display: flex;
    margin-top: auto;
    margin-right: 63px;
    justify-content: center;
    align-items: flex-end;
  }
}

.navbarcontainer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.navbarcontainer.align-left.is-relative {
  position: relative;
  z-index: 1;
}

.navbar-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;

  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .navbar-content {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.navbar-content.custom1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar-content.custom2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 991px) {
  .navbar-content.custom2 {
    padding-right: 2.5rem;
    padding-left: 2.5em;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .navbar-content.custom2 {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar-content.custom2.custom-nav-1 {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar-content.custom2.custom-nav-2 {
    padding-right: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navbar-content.custom2.custom-nav-2 {
    padding-right: 1rem;
  }
}

.navbar-content.custom-padding-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 991px) {
  .navbar-content.custom-padding-1 {
    padding-right: 1.5rem;
    padding-left: 2.5em;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .navbar-content.custom-padding-1 {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .navbar-content.custom-padding-1 {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar-content.custom-padding-1.custom-nav-1 {
    padding-right: 0rem;
  }
}

.navbar-content.custom-padding-2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 991px) {
  .navbar-content.custom-padding-2 {
    padding-right: 1.5rem;
    padding-left: 2.5em;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navbar-content.custom-padding-2 {
    padding-right: 0rem;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .navbar-content.custom-padding-2 {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar-content.custom-padding-2.custom-nav-1 {
    padding-right: 0rem;
  }
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    position: relative;
  }
}

.navbar-logo-link {
  max-width: 14.25rem;
}

@media screen and (max-width: 991px) {
  .navbar-logo-link {
    position: relative;
    left: -33px;
    max-width: 10rem;
  }
}

.navbar-logo-link.custom-nav-1 {
  max-width: 10rem;
}

@media screen and (max-width: 991px) {
  .navbar-logo-link.custom-nav-1 {
    max-width: 8rem;
  }
}

@media screen and (max-width: 479px) {
  .navbar-logo-link.custom-nav-1 {
    max-width: 6rem;
  }
}

.navbar-logo-link.custom-nav-2 {
  max-width: 9rem;
}

@media screen and (max-width: 991px) {
  .navbar-logo-link.custom-nav-2 {
    max-width: 8rem;
  }
}

.img-full-width {
  width: 100%;
  height: 100%;
}

.img-full-width.cover {
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .img-full-width.cover.custom-position-1 {
    object-position: 60% 50%;
  }
}

@media screen and (max-width: 767px) {
  .img-full-width.cover.custom-position-1 {
    position: relative;
    z-index: 1;
    display: none;
    margin-top: 116px;
  }
}

.img-full-width.cover.custom-img-1 {
  display: none;
}

@media screen and (max-width: 991px) {
  .img-full-width.cover.custom-img-1 {
    object-position: 60% 50%;
  }
}

@media screen and (max-width: 767px) {
  .img-full-width.cover.custom-img-1 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;

    display: block;
  }
}

.img-full-width.cover.mobile-img {
  display: none;
}

@media screen and (max-width: 991px) {
  .img-full-width.cover.mobile-img {
    object-position: 60% 50%;
  }
}

@media screen and (max-width: 767px) {
  .img-full-width.cover.mobile-img {
    position: relative;
    z-index: 1;
    display: block;
    margin-top: 168px;
    object-position: 80% 50%;
  }
}

@media screen and (max-width: 479px) {
  .img-full-width.cover.mobile-img {
    margin-top: 299px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.img-full-width.contain {
  object-fit: contain;
}

.logo {
  display: flex;
  width: 141px;
  height: auto;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  object-fit: cover;
}

.logo.white {
  display: none;
}

@media screen and (max-width: 991px) {
  .logo.white.show {
    display: block;
  }
}

.navbar-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 32px;

  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .navbar-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    z-index: 0;

    width: 80%;

    background-color: var(--green);

    box-shadow: 0 0 17px 8px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 767px) {
  .navbar-menu {
    background-color: #159400;
  }
}

@media screen and (max-width: 479px) {
  .navbar-menu {
    justify-content: center;
    align-items: center;
    background-color: #159400;
  }
}

@media screen and (max-width: 991px) {
  .nav-menu-wrapper {
    display: flex;
    padding-top: 0px;
    padding-bottom: 24px;
    padding-left: 24px;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu-wrapper {
    padding-top: 15px;
  }
}

@media screen and (max-width: 991px) {
  .flex-block-4 {
    padding: 24px 12px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsla(111.08108108108108, 100.00%, 29.02%, 1.00);
  }
}

@media screen and (max-width: 767px) {
  .flex-block-4 {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .flex-block-4 {
    padding-right: 40px;
    padding-left: 40px;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
}

@media screen and (max-width: 991px) {
  .flex-block-4.custom1 {
    padding: 0px;
    background-color: hsla(111.08108108108108, 28.28%, 68.40%, 0.00);
  }
}

.button {
  border: 3px solid #159400;
  border-radius: 5px;

  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 1.00);

  font-family: Raleway;
  color: #159400;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 1280px) {
  .button {
    border: 3px solid #159400;
    border-radius: 5px;

    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 1.00);

    font-family: Raleway;
    color: hsla(111.48648648648648, 100.00%, 29.02%, 1.00);
    font-size: 18px;
    font-weight: 700;
  }
}

@media screen and (max-width: 991px) {
  .button {
    width: 100%;
    color: #4a4a4a;
  }
}

@media screen and (max-width: 767px) {
  .button {
    width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .button {
    display: flex;
    width: 100%;
    height: 52px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 0 0 auto;

    border-radius: 5px;

    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 1.00);

    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
  }
}

.button.nav-btn.custom1 {
  padding: 1.25rem 4.875rem;
  font-size: 22px;
}

@media screen and (max-width: 991px) {
  .button.nav-btn.custom1 {
    color: #159400;
  }
}

@media screen and (max-width: 767px) {
  .button.nav-btn.custom1 {
    width: 100%;
    text-align: center;
  }
}

.button.nav-btn.call-now {
  padding: 0.5rem 1.5rem;

  border-radius: 1rem;

  background-color: var(--green);

  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .button.nav-btn.call-now {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.call-now {
    height: auto;
    font-size: 16px;
  }
}

.button.nav-btn.phone-number {
  padding: 0.5rem 1.5rem;

  border-radius: 1rem;

  background-color: var(--green);

  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .button.nav-btn.phone-number {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number {
    height: auto;
    font-size: 16px;
  }
}

.button.nav-btn.phone-number.v2 {
  padding-right: 3rem;
  padding-left: 3rem;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v2 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v2 {
    margin-right: auto;
    margin-left: auto;
  }
}

.button.nav-btn.phone-number.v3 {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;

  border-color: var(--dark-green);

  background-color: var(--dark-green);

  font-family: Poppins;
  font-weight: 500;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v3 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v3 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.button.nav-btn.phone-number.v3.text-weight-semi-bold {
  font-weight: 600;
}

.button.nav-btn.phone-number.v4 {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;

  border-color: var(--dark-green);

  background-color: var(--dark-green);

  font-weight: 500;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v4 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v4 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.button.nav-btn.phone-number.v4.text-weight-semi-bold {
  font-family: Poppins;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v4.text-weight-semi-bold {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.button.nav-btn.phone-number.v5 {
  padding-right: 3rem;
  padding-left: 3rem;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v5 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v5 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
  }
}

.button.nav-btn.phone-number.v5 {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;

  border-color: var(--dark-green);

  background-color: var(--dark-green);

  font-weight: 500;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v5 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v5 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.button.nav-btn.phone-number.v5.text-weight-semi-bold {
  min-width: 22rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v5.text-weight-semi-bold {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v5.text-weight-semi-bold {
    width: 100%;
    min-width: 0px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.button.nav-btn.phone-number.v5.text-weight-semi-bold.is-disabled {
  opacity: 0.3;
  filter: grayscale(100%);
  pointer-events: none;
}

.button.nav-btn.phone-number.v6 {
  padding-right: 3rem;
  padding-left: 3rem;
}

@media screen and (min-width: 1440px) {
  .button.nav-btn.phone-number.v6 {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v6 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v6 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
  }
}

.button.nav-btn.phone-number.v7 {
  padding-right: 3rem;
  padding-left: 3rem;

  border-radius: 30rem;

  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v7 {
    display: flex;
    width: 100%;
    min-height: 3.5rem;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v7 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
  }
}

.button.nav-btn.phone-number.v7.is-disabled {
  opacity: 0.3;
  filter: grayscale(100%);
  pointer-events: none;
}

.button.nav-btn.phone-number.v6 {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;

  border-color: var(--dark-green);

  background-color: var(--dark-green);

  font-weight: 500;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v6 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v6 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.button.nav-btn.phone-number.v6.text-weight-semi-bold {
  min-width: 22rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: Poppins;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .button.nav-btn.phone-number.v6.text-weight-semi-bold {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v6.text-weight-semi-bold {
    width: 100%;
    min-width: 0px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.button.nav-btn.phone-number.v6.text-weight-semi-bold.is-disabled {
  opacity: 0.3;
  filter: grayscale(100%);
  pointer-events: none;
}

@media screen and (max-width: 479px) {
  .button.nav-btn.phone-number.v6.text-weight-semi-bold.is-disabled {
    white-space: normal;
  }
}

.button.nav-btn.phone-number.custom-1 {
  border-color: #55a712;
  border-radius: 0.5rem;

  background-color: #55a712;

  font-family: Poppins;
  font-weight: 600;
  text-transform: none;
}

@media screen and (max-width: 991px) {
  .button.nav-btn.phone-number.custom-1 {
    text-transform: none;
  }
}