.page-styling {
  display: none;
}

.new-flow-nav {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  background-color: #fafafa;
}

.page-padding {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

@media screen and (max-width: 991px) {
  .page-padding {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .page-padding {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.container-1280 {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container-1280 {
    max-width: none;
  }
}

.new-flow-nav-wrapper {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.new-flow-back-wrapper {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  transition: all 300ms ease;
}

.new-flow-back-wrapper:hover {
  background-color: #f3f4f6;
}

@media screen and (max-width: 767px) {
  .new-flow-back-wrapper {
    margin-left: -0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .new-flow-back-wrapper {
    margin-left: -1rem;
  }
}

.new-flow-back-icon {
  display: flex;
}

.new-flow-call-btn-wrapper {
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  background-color: #4ec459;

  transition: all 300ms ease;

  font-family: Poppins;
  color: var(--black);
  font-size: 0.9375rem;
  line-height: 159%;
  font-weight: 600;
  letter-spacing: 0.03px;
  text-decoration: none;
}

.new-flow-call-btn-wrapper:hover {
  background-color: #4baf47;
}

.container-600 {
  width: 100%;
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .container-600 {
    max-width: none;
  }
}

.padding-section-25 {
  padding-top: 3rem;
  padding-bottom: 1.5625rem;
}

@media screen and (max-width: 991px) {
  .padding-section-25 {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-25 {
    padding-top: 2rem;
  }
}

.new-flow-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.div-top {
  position: relative;
  top: -106px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.new-flow-eyelid-wrapper {
  margin-bottom: 0.9375rem;
  color: rgba(19, 24, 39, 0.8);
  text-align: center;
}

.text-size-16-outfit {
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .text-size-16-outfit {
    font-size: 0.75rem;
    line-height: 16px;
  }
}

.new-flow-logo-wrapper {
  margin-bottom: 0.9375rem;
}

@media screen and (max-width: 767px) {
  .new-flow-logo-wrapper {
    max-width: 7.0625rem;
  }
}

.img-full-width {
  width: 100%;
  height: 100%;
}

.img-full-width.cover {
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .img-full-width.cover.custom-position-1 {
    object-position: 60% 50%;
  }
}

@media screen and (max-width: 767px) {
  .img-full-width.cover.custom-position-1 {
    position: relative;
    z-index: 1;
    display: none;
    margin-top: 116px;
  }
}

.img-full-width.cover.custom-img-1 {
  display: none;
}

@media screen and (max-width: 991px) {
  .img-full-width.cover.custom-img-1 {
    object-position: 60% 50%;
  }
}

@media screen and (max-width: 767px) {
  .img-full-width.cover.custom-img-1 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;

    display: block;
  }
}

.img-full-width.cover.mobile-img {
  display: none;
}

@media screen and (max-width: 991px) {
  .img-full-width.cover.mobile-img {
    object-position: 60% 50%;
  }
}

@media screen and (max-width: 767px) {
  .img-full-width.cover.mobile-img {
    position: relative;
    z-index: 1;
    display: block;
    margin-top: 168px;
    object-position: 80% 50%;
  }
}

@media screen and (max-width: 479px) {
  .img-full-width.cover.mobile-img {
    margin-top: 299px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.img-full-width.contain {
  object-fit: contain;
}

.header-20-outfit {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Outfit;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .header-20-outfit {
    font-size: 1.25rem;
    line-height: 22px;
  }
}

.header-20-outfit.margin-bottom-33 {
  margin-bottom: 2.0625rem;
}

.new-flow-form {
  width: 100%;
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
}

.new-flow-form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.new-flow-applicant-summary-wrapper {
  margin-bottom: 1.1875rem;
}

.new-flow-applicant-info-wrapper {
  margin-bottom: 1.125rem;
}

.heading-16-outfit {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
  font-weight: 600;
}

.heading-16-outfit.margin-bottom-11 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .heading-16-outfit.margin-bottom-11 {
    font-size: 1rem;
    line-height: 22px;
  }
}

.new-applicant-item-wrapper {
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.new-applicant-item-wrapper.margin-top-16 {
  margin-top: 1rem;
}

.new-applicant-item-wrapper.margin-top-32 {
  margin-top: 2rem;
}

.new-applicant-item-wrapper.margin-bottom-32 {
  margin-bottom: 2rem;
}

.text-size-12-outfit {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .text-size-12-outfit {
    font-size: 0.75rem;
    line-height: 24px;
  }
}

.text-size-12-outfit.margin-bottom-custom-1 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  .text-size-12-outfit.margin-bottom-custom-1 {
    margin-bottom: 0.1875rem;
  }
}

.text-size-12-outfit.custom-text-1 {
  margin-bottom: 1rem;
  color: rgba(19, 24, 39, 0.8);
}

.text-size-12-outfit.margin-bottom-custom-2 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .text-size-12-outfit.margin-bottom-custom-2 {
    margin-bottom: 0.1875rem;
  }
}

.new-flow-select {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;

  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);

  background-color: transparent;
  background-image: url("https://cdn.prod.website-files.com/660d27533c9c61d241f50da3/69291aaca1c19ffbac5c57c0_tpp-arrow-icon.svg");
  background-position: 100% 50%;
  background-size: 0.75rem;
  background-repeat: no-repeat;

  font-size: 1rem;
  font-weight: 600;
}

.new-flow-select:active {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.new-flow-select:focus {
  border-bottom-style: solid;
}

.new-flow-select:focus-visible {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .new-flow-select {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 767px) {
  .new-flow-select:focus {
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
}

.new-flow-select.margin-bottom-16 {
  margin-bottom: 1rem;
}

.new-flow-input {
  padding-left: 0px;

  border-style: none none solid;
  border-width: 1px;
  border-color: black black rgba(0, 0, 0, 0.2);

  background-color: transparent;

  color: #131827;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.new-flow-input:focus {
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.new-flow-input::placeholder {
  color: #d9d9d9;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .new-flow-input {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 767px) {
  .new-flow-input:focus {
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
}

.new-flow-input.normal-caps {
  text-transform: none;
}

.new-flow-add-info-wrapper {
  margin-bottom: 1.125rem;
}

.new-applicant-tool-tip-wrapper {
  position: relative;
}

.tool-tip {
  position: relative;
  bottom: -3px;

  display: inline-block;
  width: 1rem;
  height: 1rem;
  min-width: 1rem;

  background-color: transparent;
  background-image: url("https://cdn.prod.website-files.com/660d27533c9c61d241f50da3/69294a03cbcb08920adc8413_Vector%20(5).svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.new-applicant-tool-tip-content-wrapper {
  position: absolute;
  left: 28%;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: none;
  padding: 0.5rem;

  border-radius: 0.5rem;

  background-color: hsla(0, 0.00%, 90.67%, 1.00);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 767px) {
  .new-applicant-tool-tip-content-wrapper {
    bottom: 57%;
    max-width: 15rem;
  }
}

.new-applicant-tool-tip-content-wrapper._02 {
  left: 12%;
  right: 28%;
  display: none;
}

@media screen and (max-width: 767px) {
  .new-applicant-tool-tip-content-wrapper._02 {
    left: 15%;
  }
}

@media screen and (max-width: 479px) {
  .new-applicant-tool-tip-content-wrapper._02 {
    left: 17%;
    right: 3%;
  }
}

.new-applicant-tool-tip-content-wrapper._03 {
  left: 12%;
  right: 28%;
  bottom: 31%;
  display: none;
}

@media screen and (max-width: 767px) {
  .new-applicant-tool-tip-content-wrapper._03 {
    left: 13%;
  }
}

@media screen and (max-width: 479px) {
  .new-applicant-tool-tip-content-wrapper._03 {
    left: 18%;
    right: 3%;
  }
}

.heading-14-outfit {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.25rem;
  font-weight: 600;
}

.heading-14-outfit.margin-bottom-11 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .heading-14-outfit.margin-bottom-11 {
    font-size: 1rem;
    line-height: 22px;
  }
}

.text-size-14-outfit {
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .text-size-14-outfit {
    font-size: 0.75rem;
    line-height: 24px;
  }
}

.text-size-14-outfit.margin-bottom-custom-1 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  .text-size-14-outfit.margin-bottom-custom-1 {
    margin-bottom: 0.1875rem;
  }
}

.text-size-14-outfit.custom-text-1 {
  margin-bottom: 1rem;
  color: rgba(19, 24, 39, 0.8);
}

.text-size-14-outfit.margin-bottom-custom-2 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  .text-size-14-outfit.margin-bottom-custom-2 {
    margin-bottom: 0.1875rem;
  }
}

.text-size-14-outfit.text-weight-semibold {
  font-size: 1.125rem;
}

@media screen and (max-width: 767px) {
  .text-size-14-outfit.text-weight-semibold {
    font-size: 0.875rem;
  }
}

.new-flow-hide-show-wrapper {
  display: flex;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.865rem;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 1000px;

  color: #131827;
  font-weight: 600;
  text-decoration: none;
}

.new-flow-cta-text {
  font-family: Outfit;
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .new-flow-cta-text {
    font-size: 0.9375rem;
  }
}

.new-flow-cta-icon {
  display: flex;
  margin-left: 0.375rem;
}

.new-applicant-agreements-wrapper {
  overflow: scroll;
  max-height: 30rem;
  color: rgba(19, 24, 39, 0.8);
}

.new-application-checkbox-wrapper {
  margin-bottom: 1.5625rem;
}

.new-applicant-checkbox {
  border-radius: 0px;
}

.new-applicant-checkbox:global(.w--redirected-checked) {
  background-color: #4ec459;
}

.new-applicant-representative-wrapper {
  margin-bottom: 0.875rem;
  color: rgba(19, 24, 39, 0.8);
}

.new-applicant-submit-wrapper {
  position: relative;
}

.new-applicant-submit {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 2px solid black;
  border-radius: 1000px;

  background-color: transparent;
  background-image: url("https://cdn.prod.website-files.com/660d27533c9c61d241f50da3/6929983bccf7614b1802542c_tpp-btn-arrow.svg");
  background-position: 58% 50%;
  background-size: 0.875rem;
  background-repeat: no-repeat;

  color: var(--black);
  line-height: 159%;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .new-applicant-submit {
    background-position: 60% 50%;
  }
}

@media screen and (max-width: 479px) {
  .new-applicant-submit {
    background-position: 55vw 50%;
  }
}

.new-flow-applicant-success {
  background-color: transparent;
}

.new-flow-ty-wrapper {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;

  text-align: left;
}

.new-applicant-disclaimer-wrapper {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: left;
}

.new-flow-disclaimer-wrapper {
  margin-top: 30px;
}